<section class="ftco-section-2">
    
    <div class="photograhy">
        <div class="row no-gutters">
            <% photos.forEach(photo => { %>
            <div class="col-md-3">
                <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(<%= photo.filename %>);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 01</h3>
                        <span>Technology</span>
                    </div>
                </a>
            </div>
            <% }) %>
        </div>
    </div>
</section>



