<div class="container my-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Fotoğraf Ekle</h2>
            <form action="/admin/add-photo" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="photo" class="form-label">Fotoğraf Seç</label>
                    <input type="file" class="form-control" id="photo" name="photo" required>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
</div>