<div class="container">
    <form action="/admin/posts/add-post" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="İçeriği yazın..">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Image Upload</label>
            <input type="file" class="form-control" name="postImage" id="exampleFormControlInput1" placeholder="Resmi yükle..">
        </div>

        <div class="mb-3" >            
            <label for="exampleFormControlTextarea1" class="form-label">Body</label>
            <textarea class="form-control" name="body" rows="3"></textarea>            
        </div>

    <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
    </form>
</div>