<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sayfa görüntüleme</h1>
    <p>Sayfa görüntüleme bölümüdür.</p>
    <h1><%= pageViewCount %></h1>
</body>
</html>